<p>Welcome email is sent. Check <code>rails server</code> to view the content.</p>
<p>Or you can visit the url bellow to preview the content of the mail:</p>
<p>
  <a href="http://localhost:3000/rails/mailers/home_mailer/welcome">
    http://localhost:3000/rails/mailers/home_mailer/welcome
  </a>
</p>
